.parent{
    height: 700px;
    border: 2px solid red;
    

}
.child{
    height: 100px;
    width: 100px;
    transition-duration: 3s;
    transition-delay: 2s;

}
#one{
    background-color: blue;
    transition-timing-function: ease;
}
#two{
    background-color: rgb(0, 255, 34);
    transition-timing-function: ease-in;
}
#three{
    background-color: rgb(255, 0, 191);
    transition-timing-function: ease-out;
}
#four{
    background-color: rgb(255, 157, 0);
    transition-timing-function: ease-in-out;
}
.parent:hover .child{
    /* transition-duration: 1000px; */
    margin-left: 92vw;

}