/* *{
    color: red;
    background-color: blue;
    text-align: center;
    text-shadow: 5px;
    
} */
 /* h2{
    color: yellowgreen;
    text-align:right;
 } */

 /* #one{
    color: aqua;
 }
 #two{
    color: chocolate;
 } */

 /* .one{
    color: pink;
 } */